<div class="container">
  <h2>ユーザー一覧</h2>
  <table class="table text-center table-bordered">
    <thead class="bg-light">
      <tr>
        <th>ユーザーID</th>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th>店舗レビュー</th>
        <th>スタジオレビュー</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <body>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name, end_user_path(user) %></td>
          <td><%= user.email %></td>
          <td>店舗レビュー</td>
          <td>スタジオレビュー</td>
          <% if user.is_active == false %>
            <td class="text-success">有効</td>
          <% else %>
            <td>退会</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>