<%= render 'layouts/main_visual' %>
<div class="container">
  <%= render 'layouts/flash' %>
  <div class="row mt-5">
    <div class="col-md-8 mx-auto text-center">
      <h2 class="about-title">About</h2>
      <div class="mt-5">
        <p>
          ReviewStudioでは店舗やスタジオの情報を集めたレビューサイトになります。<br />
          店舗、スタジオの詳細ページにてレビューの投稿、閲覧を行うことができます。
        </p>
        <p>
          店舗やスタジオの追加、編集は管理者が行なっております。<br />
          新たに追加してほしい店舗やスタジオがありましたら、管理者までお問い合わせください。
        </p>
        <p>
          新規登録とログインが済まれましたら各店舗、スタジオのレビューを行うことができます。<br />
          悪意あるコメント場合、管理者に削除されますのでご注意ください。
        </p>
      </div>
    </div>
  </div>
</div>