<div class="col-md-8 mx-auto store_search_form-position">
  <!--店舗検索フォーム-->
  <%= form_with url: stores_search_path, method: :get do |f| %>
    <table class="table table-borderless text-center">
      <tbody>
        <tr>
          <td class="text-right"><%= f.label :word, '店舗の市区町村', class: "col-form-label" %></td>
          <td><%= f.text_field :word, placeholder: '福岡市　東区', class: "form-control" %></td>
          <%= button_tag type: "submit", class: "btn btn-default store_search_form-body" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>