<div class="container">
  <!-- 表題 -->
  <h2>店舗一覧</h2>
  <!-- 店舗一覧表示 -->
  <div>
    <% @stores.each do |store| %>
    <div>
      <%= link_to store_path(store) do %>
        <%= image_tag store.get_store_image(200,200) %>
      <% end %>
    </div>
    <h3><%= store.name %></h3>
    <% end %>
  </div>
</div>