<div class="container">
  <!-- 表題 -->
  <h2>店舗新規作成</h2>
  <!--店舗の新規作成フォーム-->
  <%= form_with model: @store, url: stores_path, method: :post do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% end %>
</div>