<table class="table table-borderless">
  <tbody>
    <tr>
      <td><%= f.label :name, '用途名', class: "col-form-label" %></td>
      <td><%= f.text_field :name, class: "form-control" %></td>
      <td>
      <% if local_assigns[:edit_flag].present? %>
        <%= f.submit '変更を保存する', class: "btn btn-success" %>
      <% else %>
        <%= f.submit '新規登録', class: "btn btn-success" %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
