<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th class="font-weight-normal">使用用途</th>
    </tr>
  </thead>
  <tbody>
    <% uses.each do |use| %>
    <tr>
      <td><%= link_to use.name, associated_result_path(word: use.name, studio_id: use.studios.ids) %></td>
    </tr>
    <% end %>
  </tbody>
</table>