<div class="container">
  <div class="row">
    <div class="col-md-6 text-center mx-auto">
    <h2>使用用途編集</h2>
    <%= render 'layouts/errors', obj: @use %>
    <div class="mt-5">
    <%= form_with model: @use, url: use_path(@use), method: :patch do |f|%>
      <%= render :partial => 'form', :locals => { :f => f, :edit_flag => true } %>
    <% end %>
    </div>
    </div>
  </div>
</div>
