<div class="container">
  <!--表題-->
  <h1>スタジオ新規登録</h1>
  <!--スタジオ新規登録フォーム-->
  <%= form_with model: @studio, url: studios_path, method: :post do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% end %>
</div>