<div class="mv">
  <div class="container">
    <div class="mv-text-wrapper">
      <p class="mv-text-bg-color">
        ReviewStudioは各店舗やスタジオのレビューサイトになります。<br />
        ログインしていなくても店舗、スタジオの閲覧を行うことができますが、<br />
        レビューの投稿はできないのでご注意ください。
      </p>
    </div>
  </div>
</div>