<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th class="font-weight-normal"><%= link_to 'スタジオ一覧', studios_path %></th>
    </tr>
    <tr>
      <th class="font-weight-normal"><%= link_to '店舗一覧', stores_path %></th>
    </tr>
    <tr>
      <th class="font-weight-normal"><%= link_to '用途一覧', uses_path %></th>
    </tr>
    <tr>
      <th class="font-weight-normal"><%= link_to 'about', about_path %></th>
    </tr>
  </thead>
</table>